@import "../../node_modules/tailwindcss/base.css";
@import "../../node_modules/tailwindcss/components.css";
@import "../../node_modules/tailwindcss/utilities.css";

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'BananaStick';
    src: url('../assets/fonts/Banana-Stick.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bienvenido';
    src: url('../assets/fonts/Bienvenido.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.primary-text-color {
    @apply text-primary;
}
.primary-bg-color {
    @apply bg-primary;
    color: white;
}
.primary-bg-color-hover:hover {
    @apply bg-primary-hover
}
.secondary-text-color {
    @apply text-secondary;
}
.secondary-bg-color {
    @apply bg-secondary;
    color: white;
}
.secondary-bg-color-hover:hover {
    @apply bg-secondary-hover;
}
.third-text-color {
    @apply text-third;
}
.fourth-bg-color {
    @apply bg-fourth;
}

.selected-card {
    @apply border border-primary bg-fourth;
}
.default-card {
    border: 1px solid lightgray;
}

.title-font {
    font-family: "BananaStick", sans-serif;
    text-transform: uppercase;
}

.item-font {
    font-family: 'Bienvenido', sans-serif;
}

body {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    overflow: hidden;
    @apply text-secondary;
}

.test-border {
    border: 2px solid red;
}
.test-border-2 {
    border: 2px solid fuchsia;
}
.test-border-3 {
    border: 2px solid blue;
}
.test-border-4 {
    border: 2px solid chartreuse;
}

.autofill-fix {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #042628 !important;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.error-text {
    color: red;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px; /* Largeur très fine */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Fond transparent */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #D1D5DB; /* Couleur gris clair */
    border-radius: 10px; /* Bords arrondis */
}

/* Masquer les flèches du haut et du bas */
.custom-scrollbar::-webkit-scrollbar-button {
    display: none;
}

/* Custom input number arrows */
.custom-arrows::-webkit-inner-spin-button,
.custom-arrows::-webkit-outer-spin-button {
    display: none;
}